[Desktop Entry]
Name=Menu Editor
Comment=Add or remove applications from the main menu
Comment[bg]=Добавяне или премахване на програмите в основното меню
Comment[ca]=Afegiu o suprimiu aplicacions al menú principal
Comment[ca@valencia]=Afegiu o suprimiu aplicacions al menú principal
Comment[de]=Anwendungen dem Hauptmenü hinzufügen oder löschen
Comment[es]=Añadir o quitar aplicaciones del menú principal
Comment[fr]=Ajouter ou supprimer des applications à partir du menu principal
Comment[gl]=Engadir ou quitar aplicativos desde o menú principal
Comment[lv]=Pievienot vai izņemt lietotnes no galvenās izvēlnes
Comment[pl]=Dodawanie lub usuwanie programów z głównego menu
Comment[ru]=Добавить или удалить приложения из главного меню
Comment[sl]=Dodajanje in odstranjevanje programov v osnovnem meniju
Comment[sr]=Додајте или уклоните програме приказане у главном изборнику
Comment[sr@latin]=Dodajte ili uklonite programe prikazane u glavnom izborniku
Comment[te]=ప్రధాన జాబితా నుండి అనువర్తనాలు జోడించండి లేదా తొలగించండి
Exec=alacarte
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;DesktopSettings;
NotShowIn=KDE;
Icon=alacarte
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=alacarte
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.5.3
